@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

.terminal-font {
  font-family: "JetBrains Mono", monospace;
}

.glow {
  text-shadow: 0 0 10px currentColor;
}

/* #terminal {
    transform: perspective(1000px) rotateX(3deg);
    box-shadow: 0 25px 50px rgba(0, 255, 0, 0.2);
} */

.binary-bg {
  opacity: 0.55;
}

::placeholder {
  color: inherit;
  opacity: 0.5;
  /* Adjust opacity as needed */
}

.default-placeholder::placeholder {
  color: #00ff00;
}

.monokai-placeholder::placeholder {
  color: #f8f8f2;
}

.dracula-placeholder::placeholder {
  color: #f8f8f2;
}

.solarized-placeholder::placeholder {
  color: #aac0c7;
}

.light-placeholder::placeholder {
  color: #2c2d2b;
}

::selection {
  background-color: #1c961c;
  color: #e5e5e5;
}

.key.default {
  color: #00ff00;
}

.key.monokai {
  color: #ae81ff;
}

.key.dracula {
  color: #ff79c6;
}

.key.solarized {
  color: #b58900;
}

.key.light {
  color: #3594e2;
}
